body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

button {
	background-color: royalblue;
	color: white;
	padding: 10px;
	border: 2px solid royalblue;
	border-radius: 10px;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-between;
	background-color: lightblue;
	padding: 10px;
	align-items: center;
}

.controls {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.logo {
	font-weight: bold;
	font-size: 40px;
	font-style: italic;
	background: linear-gradient( red , blue);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	margin-right: 12px;
}

.grid {
	display: flex;
	flex-direction: column;
	width: 960px;
	height: 960px;
	flex: 1 1 960px;
}

.r {
	display: flex;
}