button {
	margin: 10px;
	background-color: royalblue;
	color: white;
	padding: 10px;
	border: 2px solid royalblue;
	border-radius: 10px;
}

.grid {
	display: flex;
	flex-direction: column;
	width: 960px;
	height: 960px;
}

.r {
	display: flex;
}

.a {
	background-color: black;
}