body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
	background-color: royalblue;
	color: white;
	padding: 10px;
	border: 2px solid royalblue;
	border-radius: 10px;
}

.container {
	max-height: 98vh;
	display: flex;
	flex-direction: column;
}

.controls {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.grid {
	display: flex;
	flex-direction: column;
	width: 960px;
	height: 960px;
	flex: 1 1 960px;
}

.r {
	display: flex;
}

.a {
	background-color: black;
}